name: stacker_news
description: A new Flutter project.

repository: https://github.com/felipebueno/stacker_news

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.3.5+50

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.35.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  timeago: ^3.7.1
  url_launcher: ^6.3.2
  dio: ^5.8.0+1
  shared_preferences: ^2.5.3
  qr_flutter: ^4.1.0
  in_app_update: ^4.2.3
  flutter_svg: ^2.2.0
  cached_network_image: ^3.4.1
  package_info_plus: ^9.0.0
  get_it: ^8.0.3
  cookie_jar: ^4.0.8
  dio_cookie_manager: ^3.2.0
  path_provider: ^2.1.5
  provider: ^6.1.5
  intl: ^0.20.2
  app_links: ^6.4.0
  font_awesome_flutter: ^10.8.0
  flutter_cached_pdfview: ^0.4.3
  share_plus: ^12.0.0
  flutter_markdown_plus: ^1.0.7
  markdown: ^7.3.0

dependency_overrides:
  flutter_pdfview: 1.4.1 # TODO: explain why are we overriding this

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: ^0.14.4
  flutter_lints: ^6.0.0
  flutter_native_splash: ^2.4.7

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/icons/

  fonts:
    - family: lightning
      fonts:
        - asset: fonts/Lightningvolt-xoqm.ttf
